/* Reset básico e estilos globais */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.App-content {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%; /* Ocupa a largura total dentro do max-width */
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px); /* Garante que o conteúdo principal ocupe a altura restante */
}
/* Adicionado para o container principal da aplicação */
.App-container {
  position: relative;
  min-height: 100vh;
  /* O App-container agora é apenas um wrapper para o fundo e o conteúdo */
}

main,
footer {
  padding: 1rem 2rem; /* Padding padrão para telas maiores */
}

@media (max-width: 768px) {
  main,
  footer {
    padding: 1rem 1rem; /* Ajusta o padding para telas menores */
  }
}
